<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Acceptance Test Data File Form</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1 th:text="${file.id == null ? 'Create File' : 'Edit File'}"></h1>
    <form th:action="@{/files}" th:object="${file}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="path">Path:</label>
            <input type="text" id="path" th:field="*{path}" th:readonly="${file.id != null}" 
            th:class="input-disabled" />
                   <!-- th:class="${file.id != null ? 'input-disabled' : ''}" /> -->
        </div>
        <div>
            <label for="datatype">Datatype:</label>
            <input type="text" id="datatype" th:field="*{datatype}" th:class="input-disabled"/>
        </div>
        <div>
            <label for="developers">Developers:</label>
            <input type="text" id="developers" th:field="*{developers}" th:class="input-disabled"/>
        </div>
        <div>
            <label for="lead">Lead:</label>
            <input type="text" id="lead" th:field="*{lead}" th:class="input-disabled"/>
        </div>
        <!-- <div>
            <label for="confirmed">Confirmed:</label>
            <input type="checkbox" id="confirmed" th:field="*{confirmed}" />
        </div>
        <div>
            <label for="approved">Approved:</label>
            <input type="checkbox" id="approved" th:field="*{approved}" />
        </div> -->
        <div>
            <button type="submit" th:class="input-disabled">Save</button>
        </div>
    </form>
    <a href="/files">Back to List</a>
    <div class="logout-container">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-btn">Logout</button>
        </form>
    </div>
</body>
</html>